:root {
--Darkcyan: hsl(185, 75%, 39%);
--Verydarkdesaturatedblue: hsl(229, 23%, 23%);
--Darkgrayishblue: hsl(227, 10%, 46%);
--Darkgray: hsl(0, 0%, 59%);
}

body {
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg); 
    background-color: #19A1AD;
    font-family: 'Kumbh Sans', sans-serif;
    background-repeat: no-repeat;
    background-position: right 50vw bottom 40vh, left 50vw top 50vh;
    display: flex;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
   
}

.card-background {
    width: 100%;
    
}

.card-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   bottom: 50px;
   
}

.card-content h2 {
    margin: 0;
    font-size: 1.2rem;
}


.age {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    padding-left: 5px;
}

.london {
    color: var(--Darkgray);
    font-weight: 100;
    margin-top: 10px;
}


.img-victor {
    border-radius: 50px;
    border: 5px solid white;
}

.card-footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgray;
    width: 100%;
    
}

.card-footer p {
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin: 20px auto 0 auto;
   
}

.items {
    display: block;
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-top: 5px;
    color: var(--Darkgray);
    
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  color: hsl(228, 45%, 44%); 

 }