:root {
--Darkcyan: hsl(185, 75%, 39%);
--Verydarkdesaturatedblue: hsl(229, 23%, 23%);
--Darkgrayishblue: hsl(227, 10%, 46%);
--Darkgray: hsl(0, 0%, 59%);

}

body {
    background-color: var();
    font-family: 'Kumbh Sans', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 400px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

.card-background {
    width: 100%;
}


.card-content {
   
}

.card-content-img {
    display: flex;
    justify-content: center;

}

.img-victor {
    border-radius: 50px;
    border: 5px solid white;
    position: relative;
    bottom: 50px;
    
    
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  color: hsl(228, 45%, 44%); 

 }